.create-hostel {
  border: solid 2px #e8e8e8;
  position: relative;
}

.hostel-title {
  float: left;
  color: #585855;
  font-family: sans-serif;
}

.available {
  text-align: center;
}

.address {
  text-align: left;
}

p {
  color: gray;
}

.card-details {
  font-family: sans-serif;
}

.brand {
  margin-left: 47%;
  font-family: 'Lobster', cursive;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 180px;
}

.new-nav {
  border-bottom: solid 1px #e8e8e8;
}

.descr {
  text-align: left;
}
